/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
body{
	background-color: #696969;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
		margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	border-spacing: 0;
}


.barra_esquerda {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 100%;
	border: 1px solid;
	width: 20%;
	margin-left: 5%;
	background-color: #1C1C1C;
}
.barra_esquerda a{
	color: #FFF;
	text-decoration: none;
}
.barra_esquerda a:hover{
	text-shadow: 0px 0px 1px #FFF;
	transition:  ease-in-out 0.25s;
}

.barra_esquerda th{
	background-color: #000000;
	border: 0px;
	width: 1000px;
}
.barra_esquerda  h1{
	font-family: Times;
	font-size: 18px;
	color: #FFF;
	text-shadow: 0px 0px 1px #FFF;
}

.barra_esquerda li {
	list-style-image: url('icon_list_1.png');
	padding-left:5px;
	list-style-position: inside;


}
.barra_direita p {
	font-size: 12px;
	color: #FFF;
	font-family: Arial;

	text-align: justify;
	margin: 10px;
	margin-left: 20px;
	margin-right: 20px;
	letter-spacing: 1px;
	word-spacing: 0,2px;
}

.barra_direita a{
	font-size: 12px;
	color: blue;
	font-family: Arial;
}

.barra_direita h1 {
	font-size: 17px;
	font-family: monospace;
	color: aqua;
	text-shadow: 0px 0px 1px #FFF;

}


.barra_direita h2{
	font-size: 15px;
	font-family: fantasy;
	color: #FFF;
}

.barra_direita h2 p {
	font-size: 14px;
	font-family: monospace;
	color #FFF;
	text-align: center;
	text-indent: inherit;
}


.barra_direita {
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	width: 70%;
	background-color: #1C1C1C;
	border: 1px solid black;
	float: left;
	height: 100%;
}

.barra_direita th{
	background-color: #000000;
	border: 0px;
		width: 9000px;
}





.informacoes {
	align-self: center;
	align-content: center;
	background:
	font-family: Arial;
	color: #900
}

.header > p{
	color: whitesmoke;
	padding-right: 5%;
	padding-top: 5%;
	word-spacing: 1mm;
	text-transform: capitalize;
	text-align: right;
	background-color: #4F4F4F	;
	height: 80px;
}

.topo > img {
  float: left;
  height: 130px;
}


#menu {
	background-color : #696969;
	text-align:  center;
	color: black;
	word-spacing:10px;
	list-style-position:outside;
	border-bottom: 1px solid  #696969;

}

#menu li{
	display:inline;	
}

#menu li ul{

	background-color:#666;
	color: #333;
}
#menu  a {
	font-family: monospace;
	font-size: larger;
	color: black;
	text-decoration: none;
	line-height: 20px;
	text-shadow: 0;

}

#menu  a:hover {
	color: black;
	padding-top: 20%;
	line-height: 20px;
  	text-shadow: 0px 0px 2px black;
	transition: ease-in-out 0.2s;
}
